<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ysytech.tourism.auth.mapper.PositionsMapper">

    <resultMap id="ResultMapParentDTO" type="com.ysytech.tourism.auth.domain.PositionsDTO">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="parent_id" property="parentId"/>
        <result column="create_time" property="createTime"/>
        <result column="name" property="name"/>
        <result column="department_id" property="departmentId"/>
        <result column="department_name" property="departmentName"/>
    </resultMap>
    <select id="findAllParent" resultMap="ResultMapParentDTO">
        SELECT
            positions.id,
            positions.parent_id,
            positions.create_time,
            positions.department_id,
            positions.`name`,
            department.`name` AS department_name
        FROM
            positions positions
        LEFT JOIN department department ON department.id = positions.department_id
        WHERE
            positions.parent_id IS NULL
        AND positions.is_delete = 0
    </select>

    <resultMap id="ResultMapChildesDTO" type="com.ysytech.tourism.auth.domain.PositionsDTO">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="parent_id" property="parentId"/>
        <result column="create_time" property="createTime"/>
        <result column="name" property="name"/>
        <result column="department_id" property="departmentId"/>
        <result column="department_name" property="departmentName"/>
        <collection property="childes" ofType="NewsLabel" select="findAllChild" column="id"/>
    </resultMap>

    <select id="findAllChild" resultMap = "ResultMapChildesDTO">
        SELECT
            positions.id,
            positions.parent_id,
            positions.create_time,
            positions.department_id,
            positions.`name`,
            department.`name` AS department_name
        FROM
            positions positions
        LEFT JOIN department department ON department.id = positions.department_id
        WHERE
            positions.parent_id = #{parentId}
        AND positions.is_delete = 0
    </select>
</mapper>
