<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ysytech.tourism.auth.mapper.PowerMapper">

    <select id="findMenuByPowerId" resultType="com.ysytech.tourism.auth.entity.Menu">
        SELECT
            m.*
        FROM
            power_menu pm
        LEFT JOIN menu m ON pm.menu_id = m.id
        WHERE
            pm.power_id = #{powerId}
        AND m.is_delete = 0
        AND m.parent_id IS NULL
    </select>
    <select id="findOperationsByPowerId" resultType="com.ysytech.tourism.auth.entity.Operations">
        SELECT
            o.*
        FROM
            power_operations mo
        LEFT JOIN t_operations o ON mo.operations_id = o.id
        WHERE
            mo.power_id = #{powerId}
        AND o.is_delete = 0
        AND o.parent_id IS NULL

    </select>
</mapper>
